---
layout: default
---

<h1 class="name">{{ page.title }}</h1>
<div class="bio">{{ page.content }}</div>

{% assign posts = site.posts | where: 'author', page.title %}

<ul class="post-list">
  {% for post in posts %}
      <li class="clearboth">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
        <!-- Your post's summary goes here -->
        <article>{{ post.excerpt }}</article>
      </li>
    {%- endfor -%}
</ul>
