---
---

@import "minima";

$primary-color:         white;
$off-white:             #f2eee4;
$grey:                  #c0c0c0;
$black:                 #000000;
$background-green:      #287233;
$link-color:            $off-white;

/* SCSS overrides in assets/main.scss */

.shadow {
    text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                     10px 20px 5px rgba(0,0,0,0.05),
                    -10px 20px 5px rgba(0,0,0,0.05);

}

.centre {
    text-align: center;
}

.large {
    font-size:          500%;
}

.mainPageLogo {
    text-align:         center;
}

.post-tags {
    font-style:         italic;
    opacity: 0.6;
}

.post-category-label {
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #eef;
    padding: 3px;
}
