---
---

@import "minima";

$primary-color:         white;
$off-white:             #f2eee4;
$grey:                  #c0c0c0;
$black:                 #000000;
$background-green:      #287233;
$link-color:            $off-white;

/* SCSS overrides in assets/main.scss */

.shadow {
    text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                     10px 20px 5px rgba(0,0,0,0.05),
                    -10px 20px 5px rgba(0,0,0,0.05);

}

.centre {
    text-align: center;
}

.large {
    font-size:          500%;
}

.mainPageLogo {
    text-align:         center;
}

.post-tags {
    font-style:         italic;
    opacity: 0.6;
}

.post-category-label {
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #eef;
    padding: 3px;
}

.gametitle {
    font-weight: bold;
}

.gamelinkdestination {
    font-style:         italic;
}

.gameinfolinks {
    font-size:  90%;
}

span.gameinfolinks > span {
    text-align:       right;
    display:          block;
}

.floaty-up-link {
    float: right;
    margin-right: 7px;
}

article > p:nth-child(1) > img {
    height: 150px;
    width: auto;
    object-fit: contain;
    float:left;
    margin-right: 10px;
}

// this stops /blog previews squashing into each other
// because of the image float
.clearboth {
    clear: both;
}

body > main > div > article > div.post-content.e-content > p:nth-child(1) > img {
    text-align: center;
    max-width:  1200px;
    max-height: 350px;
}

.thumb-float-left {
    float: left;
    margin-right:10px;
}

// https://www.cvwdesign.com/blog/post.php?s=css3-box-shadow-and-image-hover-effects
.imagedropshadow {
    padding: 5px;
    border: solid 1px #EFEFEF;
//}
//a:hover img.imagedropshadow {
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 1px 1px 5px #999;
}
